@model ResumeApp.Models.ProfSummary

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ProfSummary</h4>
<hr />
<div class="row">
    <div>
        <form asp-action="Edit">
            
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="profSummaryID" />
                <input type="hidden" asp-for="applicantID" />
                <div class="col-md-1">
                    <div class="form-group">
                        <label asp-for="sortOrder" class="control-label"></label>
                        <input asp-for="sortOrder" class="form-control" />
                        <span asp-validation-for="sortOrder" class="text-danger"></span>
                    </div>
                </div>
            <br/>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="ProfSum" class="control-label"></label>
                        <input asp-for="ProfSum" class="form-control" />
                        <span asp-validation-for="ProfSum" class="text-danger"></span>
                    </div>
                </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewData["UsrID"]" >Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
