@model ResumeApp.Models.SkillSet

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>SkillSet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="skillsetID" />
            <input type="hidden" asp-for="applicantID" value="@ViewData["UsrID"]" />
            <div class="form-group">
                <select asp-for="skillsetType" asp-items="Html.GetEnumSelectList<skillCat>()">
                    <option selected="selected" value="">Please select Type</option>
                </select>
                <span asp-validation-for="skillsetType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="skillSetRecord" class="control-label"></label>
                <input asp-for="skillSetRecord" class="form-control" />
                <span asp-validation-for="skillSetRecord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewData["UsrID"]">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
