@model ResumeApp.Models.Reference

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Reference</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="referenceID" />
            <input type="hidden" asp-for="applicantID" />
            <div class="form-group">
                <label asp-for="referenceName" class="control-label"></label>
                <input asp-for="referenceName" class="form-control" />
                <span asp-validation-for="referenceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="referencePhone" class="control-label"></label>
                <input asp-for="referencePhone" class="form-control" />
                <span asp-validation-for="referencePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="referenceEmail" class="control-label"></label>
                <input asp-for="referenceEmail" class="form-control" />
                <span asp-validation-for="referenceEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="firstMet" class="control-label"></label>
                <input asp-for="firstMet" class="form-control" />
                <span asp-validation-for="firstMet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="relationshipType" asp-items="Html.GetEnumSelectList<relationType>()">
                    <option selected="selected" value="">Please select type</option>
                </select>
                <span asp-validation-for="relationshipType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewData["UsrID"]">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
